@use '@/assets/styles/variables' as *;

@mixin text-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

@mixin text-xs-truncate {
  @media (max-width: 300px) {
    @include text-truncate;
  }
}

@mixin text-xxs-truncate {
  @media (max-width: 200px) {
    @include text-truncate;
  }
}

@mixin page-padding {
  padding-top: $sp-8;
  padding-bottom: $sp-8;

  @media (min-width: $breakpoint-sm) {
    padding: $sp-8;
  }

  @media (min-width: $breakpoint-md) {
    padding: $sp-16;
  }
}

@mixin h-screen-content {
  min-height: calc(100vh - #{$header-height});
}

@mixin full-bleed {
  flex-wrap: nowrap !important;
  overflow-x: auto !important;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    height: 0;
    background: transparent;
  }

  margin-left: -$sp-8 !important;
  margin-right: -$sp-4 !important;
  padding: 0 $sp-8 !important;
  padding-right: $sp-4 !important;

  @media (min-width: $breakpoint-sm) {
    margin-left: -$sp-8 !important;
    margin-right: -$sp-8 !important;
    padding-left: $sp-8 !important;
    padding-right: $sp-8 !important;
  }

  @media (min-width: $breakpoint-md) {
    margin-left: -$sp-16 !important;
    margin-right: -$sp-16 !important;
    padding: 0 $sp-16 !important;
  }
}
